<div class="navbar navbar-expand-sm navbar-light navbar-randomeal">
  <% if user_signed_in? %>
    <button class="navbar-toggler navbar-brand" style="border: 0;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, crop: :fill, :class => "avatar" %>
      <% else %>
        <%= image_tag "https://secure.gravatar.com/avatar/22be82d304e6900e27d379afe52142e9?s=600&d=mm&r=g", crop: :fill, :class => "avatar" %>
      <% end %>
    </button>
  <% else %>
    <button class="navbar-toggler navbar-brand" style="border: 0;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <%= image_tag 'randomeal-logo.png' %>
    </button>
  <% end %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Randomize", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Profile", user_path(current_user), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Contact", contact_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "About", about_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Contact", contact_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "About", about_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
