<div class="navbar navbar-expand-sm navbar-light navbar-randomeal">

  <button class="nav__trigger navbar-brand" style="border: 0;">
    <span class="nav__icon">
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    </span>
  </button>



  <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
  <nav class="nav">
    <ul class="nav__list navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav__item">
          <%= link_to "Randomize", root_path, class: "nav__link" %>
        </li>
        <li class="nav__item">
          <%= link_to "Profile", "#", class: "nav__link" %>
        </li>
        <li class="nav__item">
          <%= link_to "Contact", contact_path, class: "nav__link" %>
        </li>
        <li class="nav__item">
          <%= link_to "About", about_path, class: "nav__link" %>
        </li>
        <li class="nav__item">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav__link" %>
        </li>
      <% else %>
        <li class="nav__item">
          <%= link_to "Login", new_user_session_path, class: "nav__link" %>
        </li>
        <li class="nav__item">
          <%= link_to "Sign Up", new_user_registration_path, class: "nav__link" %>
        </li>
        <li class="nav__item">
          <%= link_to "Contact", contact_path, class: "nav__link" %>
        </li>
        <li class="nav__item">
          <%= link_to "About", about_path, class: "nav__link" %>
        </li>
      <% end %>
    </ul>
  </nav>
  <!-- </div> -->
</div>
