<h1 class="main-header">Randomeal</h1>

<p class="feature-header">Your location:</p>

<%= form_tag root_path, method: "GET" do |f| %>
  <%= text_field_tag :address, "", id: "address-input", placeholder: "Enter your address" %>
  <%= submit_tag "submit",class: "hidden" %>
<% end %>

<%= form_with url: root_path, method: "GET", remote: true, id: "hidden_form" do |f| %>
  <%= text_field_tag :latitude, nil, id: "lat", class: "hidden" %>
  <%= text_field_tag :longitude, nil, id: "long", class: "hidden" %>
  <%= submit_tag "submit", class: "hidden" %>
<% end %>

<div class="slidecontainer">
  <p class="feature-header">Distance Radius: <span id="demo"></span> km</p>
  <input type="range" min="1" max="30" value="15" class="slider" id="myRange">
</div>

<p class="feature-header">In the mood for:</p>
<button class="btn btn-primary" id="button-randomeal" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Toggle Categories
</button>
<div class="collapse" id="collapseExample">
  <div class="" id="categories-div">
    <div class="categories-grid btn-group btn-group-toggle" data-toggle="buttons">
      <button type="button" class="category category-grow" autocomplete="off" style="background-image: url(https://leblog.com.br/wp-content/uploads/2017/06/devils-cake.jpg)">
        Cafe
      </button>
      <button type="button" class="category category-grow" data-toggle="button" aria-pressed="false" autocomplete="off" style="background-image: url(https://cdn-image.foodandwine.com/sites/default/files/styles/4_3_horizontal_-_1200x900/public/1553618584/Moqueca-Brazilian-Seafood-Stew-FT-recipe0519.jpg?itok=8HHnNwX6)">
        Brazilian
      </button type="button">
      <button type="button" class="category category-grow" data-toggle="button" aria-pressed="false" autocomplete="off" style="background-image: url(https://www.rwsentosa.com/-/media/project/non-gaming/rwsentosa/restaurants/osia-steak-and-seafood-grill/osia-steak--seafood-grill-beef-steak-1366x666.jpg?mh=666&la=en&h=666&w=1366&mw=1366&hash=70CF567FEAF4823EB48D8AA2F2738B0475A802AB)">
        Grill
      </button type="button">
      <button type="button" class="category category-grow" data-toggle="button" aria-pressed="false" autocomplete="off" style="background-image: url(https://img.jakpost.net/c/2017/02/28/2017_02_28_22453_1488267265._large.jpg)">
        Japanese
      </button type="button">
      <button type="button" class="category category-grow" data-toggle="button" aria-pressed="false" autocomplete="off" style="background-image: url(https://cdnimg.webstaurantstore.com/uploads/buying_guide/2014/11/barfood-beerchicken.jpg)">
        Bar Food
      </button type="button">
      <button type="button" class="category category-grow" data-toggle="button" aria-pressed="false" autocomplete="off" style="background-image: url(https://thumbor.thedailymeal.com/6-ZtETfEmjy2WZiA87cyuA_qiTI=/870x565/https://www.thedailymeal.com/sites/default/files/story/0_Intro_5_escargot%20de%20bougogne_marcmayer-Shutterstock.jpg)">
        French
      </button type="button">
      <button type="button" class="category category-grow" data-toggle="button" aria-pressed="false" autocomplete="off" style="background-image: url(https://cdn-image.foodandwine.com/sites/default/files/styles/4_3_horizontal_-_1200x900/public/rib-eye-steak-au-poivre-xl-200202.jpg?itok=V64uhOvr)">
        Steak
      </button type="button">
      <button type="button" class="category category-grow" data-toggle="button" aria-pressed="false" autocomplete="off" style="background-image: url(https://img.manoramaonline.com/content/dam/mm/en/food/foodie/images/2020/1/26/lasagna.jpg)">
        Italian
      </button type="button">
  </div>
  </div>
</div>

<p class="feature-header">Price Range:</p>
<div class="btn-group" role="group" aria-label="Basic example">
  <p id="price1" class="btn price-range">$</p>
  <p id="price2" class="btn price-range">$$</p>
  <p id="price3" class="btn price-range">$$$</p>
  <p id="price4" class="btn price-range">$$$$</p>
  <p id="price5" class="btn price-range">$$$$$</p>
</div>

<%= link_to "Randomize", restaurants_path, class: "btn btn-lg mt-3", id: "randomize-btn" %>

<script>
  function success(position) {
    const hiddenForm = document.getElementById("hidden_form");

    document.getElementById("lat").value = position.coords.latitude;
    document.getElementById("long").value = position.coords.longitude;

    Rails.fire(hiddenForm, 'submit');
  }

  <% unless params[:latitude].present? %>
    navigator.geolocation.getCurrentPosition(success);
  <% end %>
</script>
