<% unless @restaurants == [] %>
  <div class="card" >
    <div class="card-body">
      <div class="card-btns">
        <%= link_to "<i class='fas fa-arrow-left text-left randomeal-secondary'></i>".html_safe, root_path%>
        <%= link_to "Randomize", restaurants_path(restaurants: {price: session[:price], categories: session[:categories], distance: session[:distance]}), class: "btn mt-0", id: "randomize-btn" %>
      </div>
    <div align="center">
      <div
        id="map"
        style="width: 90%;
        height: 240px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>

      <h5 class="card-header"><%= @restaurant.name %></h5>

      <p class="card-text"><%= @restaurant.category.name %></p>
        <% price = "" %>
        <% @restaurant.price_range.to_i.times do %>
          <% price += "$ " %>
        <% end %>
      <p class="card-text border-bottom"><strong><%= price %></strong></p>
    </div>
      <%= link_to "Let's go!", "https://www.google.com/maps/place/#{@restaurant.address}", target: "_blank", id: "go_to", class: "btn custom-btn-primary mt-2" %>
    </div>
  </div>
<% else %>
  <h2>No restaurants match search criteria.</h2>
  <%= link_to "Back", root_path, class: "btn btn-lg mt-5", style: "background-color: #F3613A; color: white" %>
<% end %>

