<p class="load-header">
  <span id="typing-animation"></span>
</p>
<%= image_tag 'randomeal-logo.png', class: "load-logo"  %>
<p class="load-footer">Powered by Sidekiq <i class="far fa-registered"></i></p>


<script>
  const now = new Date()

  const refresh = () => {
    if (new Date() - now > 25000) {
      console.log(new Date() - now)
      window.location = "<%= root_path %>"
    }
    Rails.ajax({
      url: "<%= verify_path %>",
      type: "GET",
      success: function(data) {
        if (data.found == true) {
          window.location = "<%= restaurants_path %>";
        } else if (data.should_stop == true) {
          window.location = "<%= root_path %>";
        }
      }
    });
  };

  setInterval(refresh, 1000);
</script>
